body {
  margin: 35px;
  background: radial-gradient(rgb(251, 248, 250) 0%, rgb(211, 244, 225) 100%);
  border: 5px solid #fff;
  border-radius: 10px;
}

h1,
.row {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
  margin: 10px auto;
}

h2 {
  font-size: 25px;
  margin: 2px auto;
}

ul {
  margin: 0px auto;
  width: 1500px;
  max-width: 100%;
}

li {
  width: 20%;
  font-family: "Raleway", sans-serif;
  margin-bottom: 20px;
}

form {
  margin: 20px auto;
  max-width: 200px;
}
div.container1 {
  display: table;
  width: 100%;
}

div.buttonHolder {
  display: table-cell;
  width: 50%;
}

div.buttonHolder > input {
  width: 100%;
}

.far,
.fas {
  text-align: center;
  width: 100%;
  font-size: 55px;
}
.far {
  color: rgb(204, 191, 14);
}
.fas {
  color: rgb(79, 105, 216);
}

.leaf {
  position: fixed;
  float: left;
  width: 300px;
  opacity: 60%;
}
.temp {
  font-weight: bolder;
  font-size: 40px;
}

.signature {
  text-align: center;
  font-family: "Raleway", sans-serif;
  text-decoration: underline;
  font-weight: 900;
}

.cityParam {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  display: block;
  margin: 15px auto;
  max-width: 50%;
  text-align: center;
}

#current {
  margin: 0px auto;
  display: block;
}
